<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="board">
            <h2><span jhiTranslate="anonygileApp.board.detail.title">Board</span> {{ board.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="anonygileApp.board.name">Name</span></dt>
                <dd>
                    <span>{{ board.name }}</span>
                </dd>
                <dt><span jhiTranslate="anonygileApp.board.type">Type</span></dt>
                <dd>
                    <span>{{ board.type }}</span>
                </dd>
                <dt><span jhiTranslate="anonygileApp.board.owner">Owner</span></dt>
                <dd>
                    {{ board.owner?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/board', board.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
